body {
    font-family: 'Times New Roman', serif;
    color: black;
    background-image: url('../img/cn.jpg');
    background-size: cover;
    margin: 0;
    padding: 0;
}

.main-container {
    max-width: 1200px; /* Adjust the max width as needed */
    background-image: url('../img/cn.jpg');
    margin: 0 auto;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.8); /* Optional: for better readability */
}

.content p {
    text-align: center;
}

h1 {
    color: red;
    text-align: center;
}

h2 {
    color: red;
    margin-left: 2rem;
    text-align: center;
}

table {
    width: 100%;
    max-width: 800px;
    margin: 1rem auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

ul {
    list-style-type: none; /* Removes default list styling */
    padding: 0;
    margin: 0;
    width: 100%; /* Ensures the list takes full width of its container */
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

li {
    background-color: #f0f0f0; /* Light grey background */
    margin-bottom: 5px; /* Adds space between list items */
    padding: 10px; /* Adds space inside each list item */
    border: 1px solid #ddd; /* Adds a border around each list item */
    transition: background-color 0.3s; /* Smooth background color change on hover */
}

li:hover {
    background-color: #e9e9e9; /* Changes background color on hover */
}

.table-class {
    width: 100%;
    border-collapse: collapse;
    background-image: url('../img/vw.gif');
}

#itst {
    color: red;
    font-size: 1.25em; /* Adjust size as needed, equivalent to the original <font size=5> */
}

.red-text {
    color: red;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 24px;
    }

    ul {
        width: 80%; /* Adjusts width for larger screens */
        margin: auto; /* Centers the list in its container */
    }

    li {
        padding: 15px; /* More padding for larger screens */
    }
}

@media (max-width: 480px) {
    body {
        font-size: 12px;
    }

    h1 {
        font-size: 20px;
    }

    ul {
        width: 60%; /* Further adjusts width for even larger screens */
    }

    li {
        display: flex; /* Makes list items flex containers */
        justify-content: space-between; /* Distributes space between items */
        align-items: center; /* Vertically centers items */
    }
}