body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('img/cn.jpg');
    background-size: cover;
}

.burger-menu .toggle-button {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
    z-index: 2;
}

.burger-menu .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #333;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f1f1f1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #333;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
    background-color: #555;
}